<div class="container-fluid container-fixed-lg">
  <div class="row">
    <form [formGroup]="customerFormGroup" class="form-body">
      <div class="container">
        <div class="row px-0">
          <div class="col-md-12">
            <div class="form-group">
              <label class="font-weight-bold" for="tckn">TC Id *
                <input type="text" formControlName="tc" class="form-control" id="tckn" name="tckn"
                       autocomplete="off" required>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="cname" class="font-weight-bold">Name *
                <input type="text" formControlName="name" class="form-control" id="cname" name="cname"
                       autocomplete="off" required>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="csurname" class="font-weight-bold">Surname *
                <input type="text" formControlName="surname" class="form-control" id="csurname" name="csurname"
                       autocomplete="off" required>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="cbirthYear" class="font-weight-bold">BirthYear *
                <input type="text" formControlName="birthYear" class="form-control" id="cbirthYear" name="cbirthYear"
                       autocomplete="off" required>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="cmail" class="font-weight-bold">Mail *
                <input type="text" formControlName="mail" class="form-control" id="cmail" name="cmail"
                       autocomplete="off" required>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="country" class="font-weight-bold">Country *
                <nz-select class="nz-select"
                           id="country"
                           formControlName="address"
                           nzPlaceHolder="Please Select Country"
                           (ngModelChange)="selectedCountryChange($event)">
                  <nz-option *ngFor="let address of addresses"
                             [nzLabel]="address.country + ' ' + address.city + ' ' + address.street"
                             [nzValue]="address.country + ' ' + address.city + ' ' + address.street"></nz-option>
                </nz-select>
              </label>
            </div>
          </div>
          <div class="col-md-12 text-right mb-4">
            <div class="form-group">
              <button class="btn btn-outline-primary btn-sm" (click)="addCustomer()">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
