<nz-header>
    <div class="app-header">
    <span class="header-trigger" (click)="toggleCollapse()">
        <i class="trigger" nz-icon></i>
    </span>
        <span class="header-trigger" (click)="signOut()">
    </span>
    </div>
</nz-header>
