nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.header-trigger {
  height: 64px;
  padding: 0 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s, padding 0s;
}

.app-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}

.trigger:hover {
  color: #1890ff;
}

.language {
    width:91%;
    text-align: end;
}
