<h1>Product Detail</h1>
<div class="mb-2 text-right mr-5">
  <button class="btn btn-outline-primary btn-sm mr-4" (click)="addProduct()">
    Add
  </button>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Enabled</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Currency</th>
      <th scope="col">Stock</th>
      <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of allProducts">
      <td>
        <i *ngIf="product.enable" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'"
           [nzTwotoneColor]="'#52c41a'"></i>
        <i *ngIf="!product.enable" nz-icon [nzType]="'close-circle'" [nzTheme]="'outline'"
           [nzTwotoneColor]="'#eb2f96'"></i>
      </td>
      <td>{{product?.name}}</td>
      <td>{{product?.price}}</td>
      <td>{{product?.currency}}</td>
      <td>{{product?.stock}}</td>
      <td>
        <button class="btn btn-outline-success btn-sm" [attr.id]="'edit-button-' + product.id"
                (click)=editProduct(product.id)>
          Edit
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
