<h1>Address Detail </h1>
<div class="mb-2 text-right mr-5">
  <button class="btn btn-outline-primary btn-sm mr-4" (click)="addAddress()">
    Add
  </button>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Country</th>
      <th scope="col">City</th>
      <th scope="col">Street</th>
      <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let address of address">
      <td>{{address.country}}</td>
      <td>{{address.city}}</td>
      <td>{{address.street}}</td>
      <td>
        <button class="btn btn-outline-success btn-sm" [attr.id]="'edit-button-' + address.id"
                (click)=editAddress(address.id)>
          Edit
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
