<h1>Order Detail</h1>
<div class="mb-2 text-right mr-5">
  <button class="btn btn-outline-primary btn-sm mr-4" (click)="addOrder()">
    Add
  </button>
</div>
<nz-table
  #tableComponent
  nzShowSizeChanger
  [nzFrontPagination]="false"
  [nzData]="orders"
  [nzLoading]="loading"
  [nzTotal]="total"
  [(nzPageIndex)]="page"
  [(nzPageSize)]="size"
  (nzPageIndexChange)="searchData()"
  (nzPageSizeChange)="searchData(true)">
  <thead>
  <tr>
    <th scope="col">Order Id</th>
    <th scope="col">TC Id</th>
    <th scope="col">Product Id</th>
    <th scope="col">Status</th>
    <th scope="col">Message</th>
    <th scope="col">Create Date</th>
    <th scope="col">Detay</th>
  </tr>
  </thead>
  <tbody>
  <ng-template ngFor let-order [ngForOf]="tableComponent.data">
    <tr>
      <td>{{order?.id}}</td>
      <td>{{order?.tckn}}</td>
      <td>{{order?.productId}}</td>
      <td>{{order?.status}}</td>
      <td>{{order?.systemMessage}}</td>
      <td>{{getFormattedDate(order?.createDate)}}</td>
      <td>
        <button *ngIf="order.status === 'COMPLETED'" class="btn btn-outline-success btn-sm" (click)="detail(order.id)">
          Detay
        </button>
      </td>
    </tr>
  </ng-template>
  </tbody>
</nz-table>
