<h1>Customer Detail</h1>
<div class="mb-2 text-right mr-5">
  <button class="btn btn-outline-primary btn-sm mr-4" (click)="addCustomer()">
    Add
  </button>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">TC Id</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Birth Year</th>
      <th scope="col">Mail</th>
      <th scope="col">Country</th>
      <th scope="col">City</th>
      <th scope="col">Street</th>
      <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer?.tckn}}</td>
      <td>{{customer?.name}}</td>
      <td>{{customer?.surname}}</td>
      <td>{{customer?.birthYear}}</td>
      <td>{{customer?.mail}}</td>
      <td>{{customer?.address?.country}}</td>
      <td>{{customer?.address?.city}}</td>
      <td>{{customer?.address?.street}}</td>
      <td>
        <button class="btn btn-outline-success btn-sm" [attr.id]="'edit-button-' + customer.tckn"
                (click)=editCustomer(customer.tckn)>
          Edit
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
