<div class="container-fluid container-fixed-lg">
  <div class="row">
    <form [formGroup]="productFormGroup" class="form-body">
      <div class="container">
        <div class="row px-0">
          <div class="col-md-6">
            <div class="form-group">
              <label for="cname" class="font-weight-bold">Name *
                <input type="text" formControlName="name" class="form-control" id="cname" name="cname"
                       autocomplete="off" required>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="price" class="font-weight-bold">Price *
                <input type="text" formControlName="price" class="form-control" id="price" name="price"
                       autocomplete="off" required>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="currency" class="font-weight-bold">Currency *
                <input type="text" formControlName="currency" class="form-control" id="currency" name="currency"
                       autocomplete="off" required>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="stock" class="font-weight-bold">Stock *
                <input type="text" formControlName="stock" class="form-control" id="stock" name="stock"
                       autocomplete="off" required>
              </label>
            </div>
          </div>
          <div class="col-md-12 text-right mb-4">
            <div class="form-group">
              <button class="btn btn-outline-primary btn-sm" (click)="addProduct()">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
