<div class="container-fluid container-fixed-lg">
  <div class="row">
    <form [formGroup]="addressFormGroup" class="form-body">
      <div class="container">
        <div class="row px-0">
          <div class="col-md-12">
            <div class="form-group">
              <label for="country" class="font-weight-bold">Country
                <input type="text" formControlName="country" class="form-control" id="country" name="country"
                       autocomplete="off" required>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="city" class="font-weight-bold">City
                <input type="text" formControlName="city" class="form-control" id="city" name="city"
                       autocomplete="off" required>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="street" class="font-weight-bold">Street
                <input type="text" formControlName="street" class="form-control" id="street" name="street"
                       autocomplete="off" required>
              </label>
            </div>
          </div>
          <div class="col-md-12 text-right mb-4">
            <div class="fomr-group">
              <button class="btn btn-outline-primary btn-sm" (click)="saveAddress()">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
