<div class="container-fluid container-fixed-lg">
  <div class="row">
    <div class="col-md-12 text-right mb-2">
      <div class="form-group">
        <button class="btn btn-outline-primary btn-sm" (click)="addOrder()">
          Save
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="product" class="font-weight-bold">Product *
          <nz-select class="nz-select"
                     id="product"
                     [(ngModel)]="productId"
                     nzPlaceHolder="Please Select Country"
                     (ngModelChange)="selectedProductChange($event)">
            <nz-option *ngFor="let product of productModel"
                       [nzLabel]="product.name"
                       [nzValue]="product.name"></nz-option>
          </nz-select>
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="tckn" class="font-weight-bold">Customer *
          <nz-select class="nz-select"
                     id="tckn"
                     [(ngModel)]="tckn"
                     nzPlaceHolder="Please Select Country"
                     (ngModelChange)="selectedCustomerChange($event)">
            <nz-option *ngFor="let customer of customerModel"
                       [nzLabel]="customer.name"
                       [nzValue]="customer.name"></nz-option>
          </nz-select>
        </label>
      </div>
    </div>
  </div>
</div>

