<nz-sider class="menu-sidebar" nzWidth="256px">
  <div class="sidebar-logo mt-3">
    <h1 class="mt-3">KgPoc</h1>
  </div>
  <ul nz-menu nzTheme="dark" nzMode="inline" style="    color: rgba(255,255,255,0.65);">
    <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
      <ul>
        <li nz-menu-item nzMatchRouter style="padding-left:0 !important;">
          <a routerLink="/customer/list">Customer</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/address/list">Address</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/product/list">Product</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/order/list">Order</a>
        </li>
      </ul>
    </li>
  </ul>
</nz-sider>
