* {
  font-family: 'GreycliffCF-Medium', sans-serif;
}

label {
  font-weight: bold;
  width: 100%;
}

.form-control:focus {
  background: #e5e8e9;
}

.form-control {
  margin-top: 0.5rem;
}

.form-body {
  width: 100%;
}
